footer.footer
  .footer__logo
    h1 E FARMING
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') suppliers
    li: a(href='#') farming stats
    li: a(href='#') farmers
   
  p.footer__copyright &copy; by Anusha ,jyothi and pavan to help farmers.