#left-menu
  div
    
    ul.grid-container
      li
        a(href='/tips/getAllTips') TIPS
      li
        a(href="/farmer/complaints") COMPLAINTS
      li
        a(href="/advertisment/") ADVERTAISMENTS