extends base

block content
  main.main
      .header__hero
           img.header__hero-img(src=`/img/e-farming.png`, alt='farming logo') 
      p.heading-secondary.ma-bt-lg#homepara E-farming is the web application that will help the
          farmers to sell there crop online,It works on demand and supply,By using this website farmers will be leading to achieve
          success and increase in their standard of living . The
          Marketing facility would allow the farmers to have a
          view of the bills created and the related information in
          their accounts. The supplier will also get very good quality products directly from farmers